/* Navbar.css */
.navbar {
    display: flex;
    align-items: center;
    background-color: #BFCCB5;
    height: 60px;
    padding: 0 20px;
}

.navbar-link {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    margin-right: 20px;
    padding: 8px 12px;
    border-radius: 8px;
    transition: background-color 0.2s, transform 0.2s;
}

.navbar-link:hover {
    background-color: #7c96ab26;
    transform: scale(1.1);
}

/* Target the specific navbar-link class when it is active */
.navbar-link.active-link {
    background-color: #7c96ab;
    transform: scale(1.1);
}

.logo {
    width: 110px; /* Set the width of the logo as per your preference */
    height: 110px; /* Set the height of the logo as per your preference */
    margin-right: 10px; /* Add some spacing between the logo and links */
  }
  